/* Estilos básicos del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Menú de navegación */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Lista de elementos del menú */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Elementos de los enlaces */
.menu li {
    display: inline-block;
}

/* Estilos para los enlaces */
.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Cambio de color al pasar el ratón */
.menu a:hover {
    background-color: #575757;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para asegurar que el contenido no esté oculto detrás del menú fijo */
#inicio, #productos, #contacto, #ubicacion {
    padding-top: 60px; /* Ajustar según la altura de tu menú */
}

/* src/styles/global.css */
nav {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
 
  