---
let title = "Despensa de Cafés"
let intro = "Explora una selección de los mejores cafés de Colombia y de todas sus regiones. Prueba cualquier variedad y recíbelo en la comodidad de tu hogar. También puedes publicar el café de tu tierra, de tu propia finca. ."
---
<div>
    <h1>{title}</h1>
    <p>{intro}</p>
</div>
