<h1>Links</h1>
<nav class="flex flex-row gap-10 pt-4 pb-10">
    <a href="" class="text-gray-400 hover:text-gray-950 hover:underline">Canal Youtube</a>
    <a href="" class="text-gray-400 hover:text-gray-950 hover:underline">Webcads</a>
    <a href="" class="text-gray-400 hover:text-gray-950 hover:underline">Contactos</a>
</nav>

    