---
import type { Product } from "../data";

interface Props {
  product: Product;
}

const { product } = Astro.props;
const transitionName = product.slug;
---

<a href=`/product/${product.slug}`>{product.name}<br></a></a>